polygon #test {
  width: 100px;
      height: 100px;
      background-color: red;
      font-size: 20px;
      left: 0px;
      top: 0px;
      position:absolute;
      -webkit-transition-property: width height background-color font-size left top transform -webkit-transform color;
      -webkit-transition-duration:2s;
      -webkit-transition-timing-function: ease-in-out;
      transition-property: width height background-color font-size left top transform -webkit-transform color;
      transition-duration:2s;
      transition-timing-function: ease-in-out;
}

polygon:hover {
  -ms-transform: translateX(5000px); /* IE 9 */
  -webkit-transform: translateX(5000px); /* Safari */
  transform: translateX(5000px);
}
