/* Tufts Polyhack Stylesheet */

/* ===== General Styles ===== */

* { margin: 0; padding: 0; }

body {
  position: relative;
  color:#DCDCDC;
  padding: 0;
  border: 0;
  margin: 0;
}


p {
	font-size: 1.25em;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin-top: 10vh;
	margin-bottom: 3vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 4em;
}

h2 {
	font-family: 'Roboto', sans-serif;
  font-weight: 325;

}

h3, h4 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.65;
  font-weight: 0;
}

.cheattext{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

.cheatheader{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

.cheatlogo {
	margin-left: 20%;
	margin-top: 50px;
}

.mob-top-section {
/*just for mobile*/
}

.row {
  margin: 0px;

}

/* ===== Mobile Views ===== */

@media (max-width: 768px) {
	#logoTriangles, #logo, nav {
		display: none;
	}
  .mob-top-section {
    padding-top: 12%;
    padding-bottom: 12%;
    padding-right: 6%;
    padding-left: 6%;
  }
  .mission-design {
    margin-top: 8%;
    width: 40%;
  }
  h1 {
    font-size: 3em;
  }
  h3, h4 {
    font-size: 1.25em;
  }
  .green_triangle {
    width: 50%;
  }
  .triangle_pic {
    width: 50%
  }
  .right-title, .left-title {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 2%;
  }

  .mob-faq {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 8%;
  }
  .btn-default {
    margin-bottom: 12% !important;
  }
  .map {
    padding-bottom: 6%;
    padding-top: 15%;
  }

}
#fallback {
 max-width:100%;
 max-height:auto;
}
@media (min-width: 768px) {

	#fallback { display: none; }

	.navbar-nav {
	    margin: 0 auto;
	    display: table;
	    table-layout: fixed;
	    float:none;
	    font-family: 'Roboto', sans-serif;
	}


}


/* ===== Content-Specific ===== */

#bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
	z-index: -10000;
}

#logoTriangles {
	margin-top: 80px;
	position: relative;
	width: 800px;
	height: 640px;
	z-index: 10;
}

#logo {
	position: relative;
	top: -450px;
	z-index: 10000;
	height: 260px;
	width: 800px;
	fill-opacity: 0;
}

.developers_text {
  font-family: Roboto;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

#content {
  padding: 0px;
}

#content a {
	color: #999;
}
#Twitter .container .row {
        text-align: center;
}


.about {
  text-align: center;
  padding-top: 6%;
}


.triangle_pic {
  padding-top: 12%;
  vertical-align: middle;
  display: block;
  margin: auto;
  padding-bottom: 12%;
}

#Mission {
  position: fixed;
  background-color: #202727;
  z-index: -10000;
}

.mission-design {
  padding-top: 6%;
}

#mission h3 {
	margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 8%;
}

.right {
    text-align: left;
    padding-right: 10%;
    padding-left: 10%;
}

.left {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.green_triangle {
  padding-left: 10%;
  display: block;
  margin: auto;
  padding-top: 12%;
  vertical-align: middle;
  padding-bottom: 12%;
}

.lists {
	margin-left: 40px;
}

#Logistics {

}


/* ===== Buttons ===== */

.btn-default {
  padding: 20px;
  margin-bottom: 6%;
  margin-top: 3%;
  font-weight: 0;
  font-size: 20px;
  background-color: #22897A;
  color: white !important;
  border: none !important;
}


#content a {
  color: #444;
}

/* ===== Rows ===== */

#Sponsors .col-sm-12 img,
#Sponsors .col-sm-6 img,
#Sponsors .col-sm-4 img,
#Sponsors .col-sm-3 img {
  position: relative;
  margin: 0 auto;
  /*text-align: center; */
}

/* consider doing this to valign:
 * http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div
 */

#Sponsors .row img {
 max-width: 100%;
}

#Sponsors .row {
    margin-bottom: 10px;
}

#Sponsors .row.gold {
  margin-bottom: 100px;
}

#Sponsors .row.silver {
  margin-bottom: 40px;
}

#Sponsors .row.silver.last {
  margin-bottom: 140px;
}

#Sponsors .row.bronze {
}

.sponsor-tripadvisor img {
  margin-top: -30px;
}

.sponsor-bose img {
  padding-top: 18%;
}

.sponsor-cimpress img {
  padding-top: 8%;
}

.sponsor-google img {
  width: 90%;
  padding-left: 5%;
}


.sponsor-twitter img {
  width: 60%;
  padding-top: 20px;
  padding-left: 20%;
}

.sponsor-hhbrown img {
  padding-top: 15%;
}

.sponsor-microsoft img {
  padding-top: 15%;
}

.sponsor-palantir img {
  padding-top: 10%;
}

.sponsor-cymbal img {
  padding-top: 10%;
}

.sponsor-blueapron img {
  width: 70%;
  padding-left: 15%;
}

.sponsor-digitalocean img {
  padding-top: 5%;
}

@media (max-width: 768px), only screen and (max-device-width: 480px){
  #Sponsors .row.gold img {
    max-width: 90%;
    margin-left: 5%;
  }
  #Sponsors .row.silver img {
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
  }
  #Sponsors .row.silver.last img {
    margin-bottom: 50px;
    padding: 0px;
  }
  #Sponsors .row.bronze img {
    max-width: 30%;
    margin-left: 35%;
    margin-bottom: 30px;
  }
  .sponsor-blueapron img {
    width: 100%;
    padding-left: 0;
  }
  .sponsor-bose img {
    padding-top: 5%;
  }
  .sponsor-hhbrown img {
    padding-top: 5%;
  }
  .sponsor-twitter img {
    width: 40%;
    padding-left: 10%;
  }
  .btn-default {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

#footer {
	margin: 100px 0px 80px;
}

#cheatfooter {
	margin: 100px 0px 80px;
}

.logistics-valign {
        position: relative;
	top: 50%;
	transform: translateY(20%);
	height: 30%;
}


/* BRUNO'S CODE */

.purplebg {
  background-color: #5D356B;
  padding-bottom: 8%;
  padding-top: 2%;
}

.orangebg {
  background-color: #CE5733;
  padding-bottom: 8%;
  padding-top: 2%;
}

.blackbg {
  background-color: #000000;
  padding-bottom: 8%;
  padding-top: 2%;
}

.tealbg {
  background-color: #22897A;
  padding-bottom: 8%;
  padding-top: 2%;
}

.center-title {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 2%;
}

.left-title {
  text-align: left;
  vertical-align: left;
  padding-bottom: 2%;
}

.right-title {
  text-align: left;
  vertical-align: left;
  padding-bottom: 2%;
}

.not-blue-link {
  color: #444;
}

a.github-url {
  color: gray !important;
}

