/* Tufts Polyhack Stylesheet */

/* ===== General Styles ===== */

* { margin: 0; padding: 0; }

body {
  position: relative;
  color:#DCDCDC;
}


p {
	font-size: 1.25em;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin-top: 10vh;
	margin-bottom: 3vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 3em;
}

h2 {
	font-family: 'Roboto', sans-serif;

}

h3, h4 {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}

.cheattext{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

.cheatheader{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

.cheatlogo {
	margin-left: 20%;
	margin-top: 50px;
}


/* ===== Mobile Views ===== */

@media (max-width: 768px) {
	#logoTriangles, #logo, nav {
		display: none;
	}
}
#fallback {
 max-width:100%;
 max-height:auto;
}
@media (min-width: 768px) {

	#fallback { display: none; }

	.navbar-nav {
	    margin: 0 auto;
	    display: table;
	    table-layout: fixed;
	    float:none;
	    font-family: 'Roboto', sans-serif;
	}


}


/* ===== Content-Specific ===== */

#bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #202727;
	z-index: -10000;
}

#logoTriangles {
	margin-top: 80px;
	position: relative;
	width: 740px;
	height: 640px;
	z-index: 10;
}

#logo {
	position: relative;
	top: -450px;
	z-index: 10000;
	height: 260px;
	width: 800px;
	fill-opacity: 0;
}

#content a {
	color: #999;
}
#Twitter .container .row {
        text-align: center;
}

#Mission {

}

#mission {
	margin-left: 5px;
}

.lists {
	margin-left: 40px;
}

#Logistics {

}

#FAQ {

}


/* ===== Rows ===== */

#Sponsors .col-sm-12 img,
#Sponsors .col-sm-6 img,
#Sponsors .col-sm-4 img,
#Sponsors .col-sm-3 img {
  position: relative;
  margin: 0 auto;
  /*text-align: center; */
}

/* consider doing this to valign:
 * http://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-div
 */

#Sponsors .row img {
 max-width: 100%;
}

#Sponsors .row {
    margin-bottom: 10px;
}

#Sponsors .row.gold {
  margin-bottom: 100px;
}

#Sponsors .row.silver.last {
  margin-bottom: 80px;
}

#Sponsors .row.bronze {
}

.sponsor-tripadvisor img {
  margin-top: -30px;
}

.sponsor-bose img {
  padding-top: 18%;
}

.sponsor-cimpress img {
}

.sponsor-twitter img {
  width: 80%;
  padding-left: 10%;
}

.sponsor-hhbrown img {
  padding-top: 15%;
}

.sponsor-microsoft img {
  padding-top: 15%;
}

.sponsor-palantir img {
  padding-top: 10%;
}

.sponsor-cymbal img {
  padding-top: 15%;
  padding-bottom: 15%;
}

.sponsor-blueapron img {
  width: 70%;
  padding-left: 15%;
}

@media (max-width: 768px), only screen and (max-device-width: 480px){
  #Sponsors .row.gold img {
    max-width: 90%;
    margin-left: 5%;
  }
  #Sponsors .row.silver img {
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
  }
  #Sponsors .row.silver.last img {
    margin-bottom: 50px;
    padding: 0px;
  }
  #Sponsors .row.bronze img {
    max-width: 30%;
    margin-left: 35%;
    margin-bottom: 30px;
  }
  .sponsor-blueapron img {
    width: 100%;
    padding-left: 0;
  }
  .sponsor-bose img {
    padding-top: 5%;
  }
  .sponsor-hhbrown img {
    padding-top: 5%;
  }
}

#footer {
	margin: 100px 0px 80px;
}

#cheatfooter {
	margin: 100px 0px 80px;
}

.logistics-valign {
        position: relative;
	top: 50%;
	transform: translateY(20%);
	height: 30%;
}
